# Core ML
tensorflow>=2.21.0
numpy>=2.4.3
scikit-learn>=1.8.0

# Data
pandas>=3.0.1
scipy>=1.17.1
h5py>=3.14.0

# Visualization
matplotlib>=3.10.8

# Sensor / Serial
pyserial>=3.5

# API / Network
requests>=2.32.5
python-dotenv>=1.0.0
huggingface-hub>=0.23.0
pydantic>=2.8.2
